dialog::backdrop {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
}

.daily_card {
  background-color: var(--color-card-bg);
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 10px;
  padding: 40px 0 40px 20px;
  border-radius: var(--border-radius);
  height: minmax(200px, min-content);
}
.daily_text {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
  color: #000000;
}
.daily_text h2 {
  background-color: rgb(255, 119, 119);
  color: rgb(0, 0, 0);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  margin: 0 0 0.5rem 0;
}
.daily_text p {
  padding-right: 2rem;
  margin: 0 0 1rem 0;
}
.daily_text .cta_btn {
  justify-self: start;
}
.daily_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news_card {
  background-color: #ededed;
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 0.4rem;
  padding: 1rem 0;
  height: minmax(300px, min-content);
}
.news_card:nth-child(2n) {
  background-color: #ededed;
}
.news_card > * {
  padding: 0 1rem;
}
.news_card h3 {
  margin: 0.5rem 0 0 0;
}
.news_card p {
  margin: 0 0 1rem 0;
}
.news_card:first-child:before {
  content: "BREAKING NEWS";
  background-color: rgb(255, 119, 119);
  color: black;
  font-size: var(--font-h3-size);
  font-weight: var(--font-weight-medium);
  font-weight: bold;
  text-align: center;
  line-height: 1rem;
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 0;
}
.news_card:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.news_card:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.news_card .cta_btn {
  justify-self: center;
}
.cta_btn {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: rgb(255, 119, 119);
  color: rgb(0, 0, 0);
  text-decoration: none;
  width: max-content;
  border-radius: var(--border-radius);
}

.news_card .cta_btn {
  background-color: rgb(255, 119, 119);
  border: none;
}

.news_card:first-of-type .cta_btn {
  background-color: rgb(255, 119, 119);
}

.news_card:nth-of-type(2n) .cta_btn {
  background-color: rgb(255, 119, 119);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.news_card:nth-of-type(3n) .cta_btn {
  background-color: rgb(255, 119, 119);
  color: rgb(0, 0, 0);
}
.cta_btn:after {
  content: "\2192";
  margin-left: 1rem;
}
body > main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: start;
}

#daily,
#breaking {
  margin: 0;
  padding: 0;
}

[popover] {
  /* position: fixed; */
  /* top: 50%;
  left: 50%; */

  max-width: 450px;
  width: 90%;
  max-height: 90vh;
  background: white;
  padding: 20px;
  border-radius: 8px;
  border: 0px solid #000;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  opacity: 0;
  transition: transform 1.25s ease, opacity 0.25s ease;
  transition: 0.5s allow-discrete;
}

:popover-open {
  opacity: 1;
  rotate: none;

  @starting-style {
    opacity: 0;
  }
}

#popup img {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 100%;
  height: auto;
}

.popup_h3 {
  font-size: 20px;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  color: #000;
  font-weight: bold;
  padding-bottom: 16px;
}
.popup_h2 {
  font-size: 25px;
}

#close_btn {
  position: absolute;
  top: 15px;
  z-index: 10;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 14px;
}
