@font-face {
  font-family: "Lemon Milk";
  src: url("../fonts/LEMONMILK-Bold.woff2") format("woff2"), url("../fonts/LEMONMILK-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ComfortaaLight";
  src: url("Comfortaa-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

.body-text {
  font-family: "ComfortaaLight", sans-serif;
}

/* Brug fonten sådan: */
.code-text {
  font-family: "SourceCodeProExtraBold", monospace;
}

.code-font-bold {
  font-family: "SourceCodePro", monospace;
  font-weight: 700;
}

.code-font {
  font-family: "SourceCodePro", monospace;
}

.code-font {
  font-family: "SourceCodePro", monospace;
}

body {
  font-family: "InstrumentSans", sans-serif;
}

:root {
  /* Colours */
  --color-bg: #ffffff; /* page background /*

  /* Header */
  --color-head-bg: #ff4242;

  /* Logotype */
  --color-logotype-bg: #acffcc;
  --color-text-logotype: #c1bfb8;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: #ff4242;
  /* Links */
  --color-link-bg: #acffcc;
  --color-link-hover: #c5ffdb; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #4b4545;
  --color-headline-text-page: #acffcc;

  .overskriftindex {
    font-family: "Lemon Milk";
    font-weight: bold;
    color: white;
    font-size: 32px;
    text-align: center;
    letter-spacing: 3px;
    max-width: 640px; /* matcher Figma – smal boks */
    margin: 0 auto; /* centrer inde i den røde sektion */
    line-height: 1.25; /* samme højde som Figma */
    white-space: nowrap; /* ← ingen linjeskift */
  }

  .alternativer-vm {
    font-family: "Lemon Milk";
    font-weight: bold;
    color: white;
  }

  .globalkrise {
    font-family: "Lemon Milk";
    font-weight: bold;
    color: white;
  }

  .h3breakingnews {
    font-family: "Lemon Milk", sans-serif;
    font-weight: 700;
    font-size: 16px; /* juster efter behov */
    text-align: center;
  }
  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #cdccc4;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #ededed;
  --color-cta-card-bg: #d5d2d0;
  /* news-cards */
  --color-news-bg: #a58d06;
  --color-news-bg-inverted: #585a5e;
  --color-cta-newscard-bg: #787473;
  --color-cta-newscard-bg-inverted: #7b7d83;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ededed;
  --color-infobox-1-bg: #acffcc;
  --color-infobox-2-bg: #ff7777;
}
