#head-txt {
  fill: rgb(54, 54, 54);
}
.info-graphic,
.info-text {
  background-color: var(--color-info-bg);
  padding: 20px 0;
  max-width: 450px;
  min-width: 420px; /* vigtig! sikrer bred tekstboks */
  border-radius: 0px;
  margin: 0;
  border-radius: 25px;
}

.info-section {
  padding: 60px 0 60px 0; /* fjern højre padding */
  gap: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}

.info-graphic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.info-graphic svg {
  width: 100%;
  height: auto !important; /* Holder proportioner */
  max-width: 100%;
  display: block;
}

.info-text h2 {
  font-family: "Lemon Milk";
  line-height: 3rem;
  text-align: center;
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  margin-bottom: 1rem;
}
.info-text h3 {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-Light.otf") format("opentype");
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.info-text > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}

.info-text p {
  font-size: 16px;
  line-height: 1.7;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

.fadeIn {
  animation: fadeIn_kf 1s linear;
}
@keyframes fadeIn_kf {
}

.hide {
  visibility: hidden;
}
.fadeIn {
  animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0; /* Starter usynligt */
  }
  to {
    opacity: 1; /* Ender synligt */
  }
}

.rotateOut {
  animation: rotateOut 0.6s forwards;
}

@keyframes rotateOut {
  from {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotate(360deg) scale(0.8);
  }
}

.info-box {
  padding: 1.5rem 1rem 0.5rem 1rem;
  background-color: var(--color-infobox-1-bg);
  border-radius: 15px;
}
.info-box:nth-of-type(2n) {
  background-color: var(--color-infobox-2-bg);
}
.info-box + .info-box {
  margin-top: 1rem;
}
#instruction .info-section {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
